STUDENT_EMAIL=av.sc.u4aie23122@av.students.amrita.edu
STUDENT_NAME=Sushmitha
STUDENT_MOBILE=9381061966
GITHUB_USERNAME=Sushmitha3141
ROLL_NO=AV.SCU4AIE23122
ACCESS_CODE=PTBMmQ
BASE_URL=http://20.207.122.201/evaluation-service
CLIENT_ID=c6c44432-16ec-4f9d-9fd9-c9148211472d
CLIENT_SECRET=HzTBpFDAsgpyddnZ
ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJhdi5zYy51NGFpZTIzMTIyQGF2LnN0dWRlbnRzLmFtcml0YS5lZHUiLCJleHAiOjE3NzgwNjM0NDUsImlhdCI6MTc3ODA2MjU0NSwiaXNzIjoiQWZmb3JkIE1lZGljYWwgVGVjaG5vbG9naWVzIFByaXZhdGUgTGltaXRlZCIsImp0aSI6IjIzZjdjMzQwLTY2ZjgtNDkyZi1iMDQxLTY0MjA3OWU5Y2Y5YyIsImxvY2FsZSI6ImVuLUlOIiwibmFtZSI6Im0gc3VzbWl0aGEiLCJzdWIiOiJjNmM0NDQzMi0xNmVjLTRmOWQtOWZkOS1jOTE0ODIxMTQ3MmQifSwiZW1haWwiOiJhdi5zYy51NGFpZTIzMTIyQGF2LnN0dWRlbnRzLmFtcml0YS5lZHUiLCJuYW1lIjoibSBzdXNtaXRoYSIsInJvbGxObyI6ImF2LnNjdTRhaWUyMzEyMiIsImFjY2Vzc0NvZGUiOiJQVEJNbVEiLCJjbGllbnRJRCI6ImM2YzQ0NDMyLTE2ZWMtNGY5ZC05ZmQ5LWM5MTQ4MjExNDcyZCIsImNsaWVudFNlY3JldCI6Ikh6VEJwRkRBc2dweWRkbloifQ.gXxjL5LGG3SVsOXKbQQcIDPa_uNLLoLUIw5_b5P97vI
